<div class="main">
    <p class="account">You already have an account? <a routerLink="/login" >Login</a></p>
    <form #form="ngForm" (ngSubmit)="register(form)">
        <h1 class="welcome">Hello There!</h1>
        <p class="welome-p">We`re almost done. Before using our site you need to create account.</p>
        <div class="input">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" ngModel #email="ngModel" required minlength="5">
            <ng-container *ngIf="email.touched">
                <p class="error" *ngIf="email.errors?.['required']">Img input is required</p>
            </ng-container>
        </div>
        <div class="input">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" ngModel #username="ngModel" required minlength="5">
            <ng-container *ngIf="username.touched">
                <p class="error" *ngIf="username.errors?.['required']">Username input is required</p>
            </ng-container>
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" ngModel #password="ngModel" required minlength="5">
            <ng-container *ngIf="password.touched">
                <p class="error" *ngIf="password.errors?.['required']">Img input is required</p>
                <p class="error" *ngIf="password.errors?.['minlength']">Password must be at least 5 char!</p>
            </ng-container>
        </div>
        <div class="input">
            <label for="rePassword">Repeat Password</label>
            <input type="password" id="rePassword" name="rePassword" ngModel #rePassword="ngModel" required
                minlength="5">
            <ng-container *ngIf="rePassword.touched">
                <p class="error" *ngIf="rePassword.errors?.['required']">Repeat password input is required</p>
                <p class="error" *ngIf="error">{{ error }}</p>
            </ng-container>
        </div>
        <button [disabled]="form.invalid">Submit</button>
    </form>
</div>