<div class="main">
    <div class="card" *ngFor="let game of profilePost">
        <img [src]="game.imageUrl" />
        <div class="text">
            <p><span class="title">Title:</span> {{ game.title }}</p>
            <p><span class="title">Category:</span> {{ game.category }}</p>
            <p><span class="title">maxLevel:</span> {{ game.maxLevel }}</p>
            <div class="description">{{ game.summary }}</div>
        </div>
        <div class="delBtn">
            <button [id]="game._id" [routerLink]="['/edit', game._id]" *ngIf="game._ownerId === user?._id">Edit</button>
            <button [id]="game._id" class="delBtn" (click)="delete($event)"
                *ngIf="game._ownerId === user?._id">Delete</button>
        </div>
    </div>
    <div *ngIf="profilePost?.length === 0" class="">
        <p>There is no posts yet, you can create your first</p>
    </div>
</div>