*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main{
    background-image: url('https://img.freepik.com/free-photo/innovative-businessman-working-modern-laptop-inside-generated-by-ai_188544-27376.jpg?t=st=1691429829~exp=1691433429~hmac=d9c6bd78f8ee0d0ffddb22c027a4a337f46f52b8047676892bda0467ee9c9bbe&w=1800');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:0% 50%;
    background-attachment: fixed;
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 34px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 600px;
    background-color: rgba(128, 128, 128, 0.552);
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.card img{
    width: 500px;
    height: 300px;
    border-radius: 30px;
    margin-bottom: 15px;
}

.description{
    height: 90px;
    overflow: scroll;
    font-size: 17px;
    background-color:rgba(128, 128, 128, 0.738);
    color: purple;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
}

.text p{
    text-align: center;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.title{
    font-size: 24px;
}

button{
    float: right;
    width: 100px;
    height: 30px;
    font-size: 19px;
    border-radius: 7px;
    border-style: none;
    margin-top: 15px;
    margin-right: 20px;
    background-color: gray;
}

.delBtn{
    color: red;
}